<%- include("partials/header")-%>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Search Categories</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/category.css">

<style>
    body {
        font-family: 'Nunito', sans-serif;
        margin: 0px;
        padding: 0px;
        height: 600px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*.two {*/
    /*    background-color: #ffffff;*/
    /*    width: 330px;*/
    /*    height: 250px;*/
    /*    margin: 20px 20px;*/
    /*    text-align: center;*/
    /*    line-height: 75px;*/
    /*    font-size: 30px;*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    box-shadow: 4px 4px 4px lightgray;*/
    /*}*/

    .wimg {
        height: 90px;
        width: 90px;
        background-color: black;
        margin-top: 20px;
        margin-left: 30px;
    }

    .icondisplay {
        float: right;
        padding: 5px;
    }

    /* side navigation menu */
    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: absolute;
        height: 70%;
        overflow: auto;
        box-shadow: 4px 4px 4px lightgray;
        padding-top: 2%;
    }

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
    }

    .dropdown-btn {
        border-style: none;
        padding: 16px;
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        outline: none;
    }

    .active1 {
        background: lightblue;

    }

    /* Active/current link */
    .sidebar a.active {
        background-color: #08c6f5;
        color: white;
    }

    /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
        background-color: rgba(138, 138, 138, 0.993);
        color: white;
    }

    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    #content {
        margin-left: 200px;
        /* margin-bottom: 90px; */
        padding: 16px;
    }

    /* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }

        .sidebar a {
            float: left;
        }

        div.content {
            margin-left: 0;
        }
        .Cen{
            text-align: center;
        }
        #content{
            margin-left:0px;
        }
    }

    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }

    .dropdown-container {
        padding: 10px;
        font-size: 17px;
        display: none;
        background-color: #b4b2b2;
        padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    /*.no-js {*/
    /*    display: none;*/
    /*}*/
    /*.onLoad {*/
    /*    position: fixed;*/
    /*    left: 0;*/
    /*    top: 0;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    z-index: 100;*/
    /*    background-color: #82e682;*/

    /*}*/
</style>

<body>

    <div class="sidebar">
        <p style="margin-left: 6%;font-weight: bold;font-size:22px;margin-bottom: 4%;" class="Cen">
            CATEGORIES
        </p>
        <hr style="color:gray;width:100%;box-shadow: 0.3px 0.3px 0.3px lightgray;" class="Cen">
        <div id="catInsert">
        </div>
    </div>
    <div style='right: 10px; position: absolute;margin-top: 8px;'>
        <span>Sort By:</span>
        <select name="sorting" id="sorting1" onchange="onChangeSort()">
            <option value="3">Most Recent</option>
            <option value="1">Lower To Higher</option>
            <option value="2">Higher To Lower</option>
        </select>
    </div>
    <script>
        let wishlist = []
    </script>
    <%if (user){%>
    <% user.wishlist.forEach(val=>{ %>
    <script>
        wishlist.push("<%=val %>")
    </script>
    <%}) %>
    <%}%>

<script>
    let searchInput1;
    let category;
    let locality;
    <%if (typeof body.searchInput !== 'undefined') {%>
        searchInput1 = '<%=body.searchInput%>'
            <%}%>
    <%if (typeof body.category !== 'undefined') {%>
        category = '<%=body.category%>'
            <%}%>
    <%if (typeof body.locality !== 'undefined') {%>
        locality = '<%=body.locality%>'
            <%}%>
</script>



<div class="flex-container" id="content" >
</div>
<center>
    <button class="btn btn-info" onclick="pageInc()">Show More</button>
</center>
<script>
        // $(window).load(function () {
        //     $('.onLoad').fadeOut('slow');
        //     $('#loader').addClass('no-js')
        // })
        // document.onreadystatechange=function () {
        //     console.log(document.readyState)
        //     if(document.readyState !== "complete"){
        //         document.querySelector('body').style.visibility='hidden'
        //         document.querySelector('#loader').style.visibility = 'visible'
        //     }
        //     else {
        //         document.querySelector('body').style.visibility='visible'
        //         document.querySelector('#loader').style.display = 'none'
        //     }
        // }

        let page = 0;
    let sorting = 3;
    $.ajax({
        url: 'https://bechdaal.tech/search/main',
        method: 'POST',
        data: {
            isAjax: '1',
            sorting: sorting,
            page: 0,
            searchInput: searchInput1,
            locality: locality,
            category: category
        }
    }).done(function (result) {
        if (result.length > 0) {
            $('#content').empty()
            result.forEach(ad => {
                let date = new Date(ad.date_posted).toDateString()
                if (ad.isPaid === 2) {
                    $("#content").append("<div class='two2' onclick='editad1(this)' id='" + ad._id + "'>" +
                        "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                        "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                        "<span class='featured' style='float: left' >FEATURED</span>" +
                        "<img class='images2' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                        "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                        "<p class='para'>₹" + ad.price + "</p>" +
                        "<p class='para'>" + ad.title + "</p>" +
                        "<k style='font-size:large'>" + date + "</k>" +
                        "</form>" +
                        "</div>")
                } else {
                    $("#content").append("<div class='two' onclick='editad1(this)' id='" + ad._id + "'>" +
                        "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                        "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                        "<img class='images' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                        "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                        "<p class='para'>₹" + ad.price + "</p>" +
                        "<p class='para'>" + ad.title + "</p>" +
                        "<k style='font-size: large'>" + date + "</k>" +
                        "</form>" +
                        "</div>")
                }
            })
            wishlist.forEach((wish, i) => {
                if ($('#icon' + wish).length) {
                    $('#icon' + wish).empty();
                    $('#icon' + wish).append("<i id='red-" + wish + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:orangered  ' onclick='event.stopPropagation();check(this)'></i>")
                    delete wishlist[i]
                }
            })
        } else {
            $('#content').empty()
            $('#content').append(`<div style="margin: 8% 0px" class='jumbotron'>No Ads Available for the filter</div>`)
        }
    })

    $.ajax({
        url: "https://bechdaal.tech/category",
        method: "GET",
    }).done(function (resp) {
        let prevCat = category;
        resp.forEach(category => {
            if (category.name == prevCat) {
                $('#catInsert').append(`<a onclick="onClickCat(this)" id='cat${category.name}' class="active1">${category.name} </a>`)
            }
            else {
                $('#catInsert').append(`<a onclick="onClickCat(this)" id='cat${category.name}'>${category.name} </a>`)
            }
        })
    })
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
    function editad1(input) {
        console.log(input)
        var form = document.getElementById("form" + input.id);
        form.submit()
    }
    function onClickCat(input) {
        $('#cat' + category).removeClass('active1');
        category = input.id;
        $('#' + category).addClass('active1');
        category = category.replace('cat', '')
        changeQuery();
    }
    function onChangeSort() {
        sorting = $('#sorting1').val()
        console.log()
        changeQuery();
    }
    function pageInc() {
        page = page + 1;
        fireQuery();
    }
    function changeQuery() {
        page = 0;
        $.ajax({
            url: 'https://localhost:3000/search/main',
            method: 'POST',
            data: {
                isAjax: '1',
                sorting: sorting,
                page: 0,
                searchInput: searchInput1,
                locality: locality,
                category: category
            }
        }).done(function (result) {
            if (result.length > 0) {
                $('#content').empty()
                result.forEach(ad => {
                    let date = new Date(ad.date_posted).toDateString()
                    if (ad.isPaid === 2) {
                        $("#content").append("<div class='two2' onclick='editad1(this)' id='" + ad._id + "'>" +
                            "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                            "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                            "<span class='featured' style='float: left' >FEATURED</span>" +
                            "<img class='images2' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                            "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                            "<p class='para'>₹" + ad.price + "</p>" +
                            "<p class='para'>" + ad.title + "</p>" +
                            "<k style='font-size:large'>" + date + "</k>" +
                            "</form>" +
                            "</div>")
                    } else {
                        $("#content").append("<div class='two' onclick='editad1(this)' id='" + ad._id + "'>" +
                            "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                            "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                            "<img class='images' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                            "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                            "<p class='para'>₹" + ad.price + "</p>" +
                            "<p class='para'>" + ad.title + "</p>" +
                            "<k style='font-size: large'>" + date + "</k>" +
                            "</form>" +
                            "</div>")
                    }
                })
                wishlist.forEach((wish, i) => {
                    if ($('#icon' + wish).length) {
                        $('#icon' + wish).empty();
                        $('#icon' + wish).append("<i id='red-" + wish + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:orangered  ' onclick='event.stopPropagation();check(this)'></i>")
                        delete wishlist[i]
                    }
                })
            } else {
                $('#content').empty()
                $('#content').append(`<div style="margin: 8% 0px" class='jumbotron'>No Ads Available for the filter</div>`)
            }
        })
    }
    function fireQuery() {
        $.ajax({
            url: 'https://bechdaal.tech/search/main',
            method: 'POST',
            data: {
                isAjax: '1',
                sorting: 1,
                page: page,
                searchInput: searchInput1,
                locality: locality,
                category: category
            }
        }).done(function (result) {
            result.forEach(ad => {
                let date = new Date(ad.date_posted).toDateString()
                if (ad.isPaid === 2) {
                    $("#content").append("<div class='two2' onclick='editad1(this)' id='" + ad._id + "'>" +
                        "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                        "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                        "<span class='featured' style='float: left' >FEATURED</span>" +
                        "<img class='images2' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                        "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                        "<p class='para'>₹" + ad.price + "</p>" +
                        "<p class='para'>" + ad.title + "</p>" +
                        "<k style='font-size:large'>" + date + "</k>" +
                        "</form>" +
                        "</div>")
                } else {
                    $("#content").append("<div class='two' onclick='editad1(this)' id='" + ad._id + "'>" +
                        "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
                        "<input type='hidden' name='adId' value='" + ad._id + "'>" +
                        "<img class='images' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
                        "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
                        "<p class='para'>₹" + ad.price + "</p>" +
                        "<p class='para'>" + ad.title + "</p>" +
                        "<k style='font-size: large'>" + date + "</k>" +
                        "</form>" +
                        "</div>")
                }
            })
            wishlist.forEach((wish, i) => {
                if ($('#icon' + wish).length) {
                    $('#icon' + wish).empty();
                    $('#icon' + wish).append("<i id='red-" + wish + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:orangered  ' onclick='event.stopPropagation();check(this)'></i>")
                    delete wishlist[i]
                }
            })
        })
    }



</script>


<%if (user){%>
    <script>
        function check(input) {
            let val = input.id.split('-')
            console.log(val)
            $.ajax({
                url: "https://bechdaal.tech/wish/" + val[1],
                method: "GET",
            }).done(function (wish) {
                if (val[0] == 'black') {
                    $('#icon' + val[1]).empty();
                    $('#icon' + val[1]).append("<i id='red-" + val[1] + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:orangered  ' onclick='event.stopPropagation();check(this)'></i>")
                } else if (val[0] == 'red') {
                    $('#icon' + val[1]).empty();
                    $('#icon' + val[1]).append("<i id='black-" + val[1] + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;' onclick='event.stopPropagation();check(this)'></i>")
                }
            })
        }
    </script>
    <%}%>
</body>

<%-include("partials/footer")-%>
