<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyProfile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/editprofile.css">
</head>

<body>

  <div class="container">
    <form class="userDetails" action="/myprofile/editprofile" method="post">
      <div class="userIcon" style="margin-left:45%; margin-top: 10%;">
        <i style="font-size:95px;font-weight: bold; " class="fa fa-user-circle-o" aria-hidden="true"></i>
        <br>
        <label for="username1" style="font-weight: bold;font-size: 20px;">Username</label>
        <br>
        <input type="text" name='username1' style=" border: none;
            border-bottom: 1px solid gray;margin-left:-15%;
            width: 200px;padding:3px;font-size: 1.1rem; text-align: center;" value="<%= user.local.username %>"
          placeholder="<%= user.local.username %>">
        <span><i style="font-size: 22px;" class="fas fa-edit" aria-hidden="true"></i></span>
      </div>
      <br>
      <br>
      <p class="email">
        <span style="color:#994d00;font-size: 18px;font-weight: bold;"> Email-id:</span>
        <span class="emailValue"><%= user.local.email %></span>
      </p>
      <p class="contact">
        <span style="color:#994d00; font-size: 1.1rem;font-weight: bold; "> Contact No:</span>
        <input type="text" name='contact1' style=" border: none;
                border-bottom: 2px solid gray;margin-left:5%;
                width: 150px;padding:3px;font-size: 1.1rem;" value="<%= user.ContactNumber %>"
          placeholder="<%= user.ContactNumber %>">
        <span><i style="font-size: 20px;" class="fas fa-edit" aria-hidden="true"></i></span>
      </p>

      <% var addresses1 = user.local.address; %>
      <% for (var i = 0; i < user.local.address.length; i++) {%>
      <p class="address">
        <span style="color:#994d00; font-size: 1.5rem; "> Address <%= i+1 %>:</span>
        <br>

        <input id="add1" type="text" name='address<%= i+1 %>' style=" border: none;
                border-bottom: 1px solid gray;margin-left:-15%;
                width: 500px;padding:3px;font-size: 1.1rem; text-align: center;" onchange=address(this)
          value="<%= user.local.address[i]%>" placeholder="<%= user.local.address %>">
        <button type="button" value="<%= user.local.address[i]%>"
          onclick="edadd(<%= i %>, this.value, '<%= addresses1 %>')">Set</button>
      </p>
      <% } %>
      <input type="text" id='abcde' name="ivalue" type="hidden" style="visibility:hidden;"
        value="<%= user.local.address%>">

      <div id="addAdd" class="addAddress">
        <p>Edit address <i class="fa fa-plus"></i></p>
      </div>
      <!-- when you click on Add Address text, it should toggle the form below, uska toggling daal dena, -->
      <!-- initial toggle false hi rakhna, sirf add address ka text dikhna chaiye. baaki chote cheeze dekh lena -->
      <div id="newAdd" class="newAddress" style="display: flex;flex-direction: column;">
        <input type="text" name="newAdd_line1" class="address_input" placeholder="Address Line 1">
        <input type="text" name="newAdd_line2" class="address_input" placeholder="Address Line 1">
        <input type="text" name="newAdd_line3" class="address_input" placeholder="Address Line 1">
        <button class="set_button" type="button" value="" onclick="edadd(100,100,'<%= addresses1 %>')">
          Set</button>
      </div>
      <span> <button type="submit" class="verify_btn">Save Changes</button> </span>
    </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/profile.js" charset="utf-8"></script>
<script>
  function edadd(i, value, addresses) {
    addresses = addresses.split(',');
    if (i == 100) {
      addresses.push($("input[name=newAdd]").val());
    }
    else {
      addresses.splice(i, 1, $("input[name=address" + (i + 1) + "]").val());
      addresses1 = addresses
    }

    $('#abcde')
      .attr('value', addresses);
  }

</script>

<%-include("partials/footer")-%>