<%-include('partials/header')%>
<div class="jumbotron">
  <center>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </center>
</div>
<%-include('partials/footer')%>
