<%- include("partials/header")-%>


<head>
  <meta charset="utf-8">
  <title>BechDaal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bech Daal</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/homepage.css">
  <style media="screen">

  </style>
</head>

<body>
  <div class="row no-gutters">
    <div class="col-md-12" style="padding-right:0">
      <br>

      <h3 style="color: Black;font-weight:bold; text-align:center">Browse Categories</h3>

      <div class="flex-container" id="cont">

      </div>
      <div>
        <!-- <li class="page-item">
          <a class="page-link" href="#" id="previous" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a id="first" class="page-link" href="#">1</a></li>
        <li id="next" class="page-item">
          <a class="page-link" id="Next" href="#">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li> -->
        <center>
          <span class="unactiveDot" id="first"></span>
          <span class="unactiveDot" id="second"></span>
          <span class="unactiveDot" id="third"></span>
        </center>
      </div>
      <hr style="height:1px;background-color:black;margin: 10px 15%;">
      <div class="flex-container" id="locAds">


      </div>
      <div>
        <center>

          <button class="btn btn-primary " onclick="getNewAds()">Show More</button><br><br>
        </center>
      </div>

    </div>
    <!--    <div class="col-md-2" style="background-color:blue">-->
    <!--      <h2 style="text-align:center;">Ads</h2>-->
    <!--    </div>-->
  </div>
  <script>
    let wishlist = []
  </script>
  <%if (user){%>
  <% user.wishlist.forEach(val=>{ %>
  <script>
    wishlist.push("<%=val %>")
  </script>
  <%}) %>
  <%}%>
<script>
  console.log(wishlist)
</script>

  <script>
    let arr = []
  </script>
  <% categries.forEach(val => {%>
  <script>
    var obj1 = {}
    obj1.name = "<%=val.name%>"
    obj1.img = "<%=val.image%>"
    obj1.id = "<%=val._id%>"
    arr.push(obj1)
  </script>
  <%}) %>
  <script>
    console.log(arr)

    let data;
    let page = 0;
    const main = document.querySelector(".mainContent");
    $(document).ready(function() {
      $("#first").addClass('.activeDot')
      $("#second").addClass('.unactiveDot')
      $("#third").addClass('.unactiveDot')
      for (var i = 0; i < 3; i++) {
        $("#cont").append("<div id='" + arr[i].id + "' class='one'>\
            <img class='Img' src = '" + arr[i].img + "'> <br>\
              " + arr[i].name + "</div>")
      }
    })
    const first = document.querySelector("#first");
    const second = document.querySelector("#second");
    const third = document.querySelector("#third");
    first.addEventListener('click', () => {
      $("#second").addClass('.unactiveDot')
      $("#third").addClass('.unactiveDot')
      let s = arr.slice(0, 3)
      $("#cont").empty();
      for (let i = 0; i < 3; i++) {
        $("#cont").append(
          "<div id='" + s[i].id + "' class='one'>\
            <img class='Img' src = '" + s[i].img + "'> <br>\
              " + s[i].name + "</div>")
      }

    })
    second.addEventListener('click', () => {
      $("#first").addClass('.unactiveDot')
      $("#second").addClass('.activeDot')
      $("#third").addClass('.unactiveDot')
      let s = arr.slice(3, 6)
      $("#cont").empty();
      for (let i = 0; i < 3; i++) {
        $("#cont").append(
          "<div id='" + s[i].id + "' class='one'>\
            <img class='Img' src = '" + s[i].img + "'> <br>\
              " + s[i].name + "</div>")
      }

    })
    third.addEventListener('click', () => {
      $("#first").addClass('.unactiveDot')
      $("#second").addClass('.unactiveDot')
      $("#third").addClass('.activeDot')
      let s = arr.slice(6, 9)
      $("#cont").empty();
      for (let i = 0; i < 3; i++) {
        $("#cont").append(
          "<div id='" + s[i].id + "' class='one'>\
            <img class='Img' src = '" + s[i].img + "'> <br>\
              " + s[i].name + "</div>")
      }

    })
    let page1 = -1;
    $(function() {
      getNewAds()
    });

    function editad1(input) {
      console.log(input)
      var form = document.getElementById("form" + input.id);
      console.log("Hit")
      form.submit()
    }

    function getNewAds() {
      console.log("hit")
      page1 = page1 + 1;
      $.ajax({
        url: "https://bechdaal.tech/sell/grid_ads/c/" + page1,
        method: "GET",
      }).done(function(ads) {
        ads.forEach(ad => {
          let date = new Date(ad.date_posted).toDateString()
          if (ad.isPaid === 2) {
            $("#locAds").append("<div class='two2' onclick='editad1(this)' id='" + ad._id + "'>" +
              "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
              "<input type='hidden' name='adId' value='" + ad._id + "'>" +
              "<span class='featured' >FEATURED</span>" +
              "<img class='images2' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
              "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
              "<p class='para'>₹" + ad.price + "</p>" +
              "<p class='para'>" + ad.title + "</p>" +
              "<k>" + date + "</k>" +
              "</form>" +
              "</div>")
          } else {
            $("#locAds").append("<div class='two' onclick='editad1(this)' id='" + ad._id + "'>" +
              "<form action='/sell/show' method='post' id='form" + ad._id + "'>" +
              "<input type='hidden' name='adId' value='" + ad._id + "'>" +
              "<img class='images' src='" + ad.cover_photo + "'><span id='icon" + ad._id + "'><i id='black-" + ad._id +
              "' class='fa fa-heart icondisplay  sharethis-inline-share-buttons' aria-hidden='true' style='z-index: 10' onclick='event.stopPropagation();check(this)'></i></span>" +
              "<p class='para'>₹" + ad.price + "</p>" +
              "<p class='para'>" + ad.title + "</p>" +
              "<k>" + date + "</k>" +
              "</form>" +
              "</div>")
          }
        })
        wishlist.forEach((wish, i) => {
          if ($('#icon' + wish).length) {
            $('#icon' + wish).empty();
            $('#icon' + wish).append("<i id='red-" + wish + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:red  ' onclick='event.stopPropagation();check(this)'></i>")
            delete wishlist[i]
          }
        })
      }).fail(function() {
        alert('FAIL!!');
      });
    }

</script>
  <%if (user){%>
<script>
  function check(input) {
      let val = input.id.split('-')
      console.log(val)
      $.ajax({
        url: "https://bechdaal.tech/wish/" + val[1],
        method: "GET",
      }).done(function(wish) {
        if (val[0] == 'black') {
          $('#icon' + val[1]).empty();
          $('#icon' + val[1]).append("<i id='red-" + val[1] + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;color:red  ' onclick='event.stopPropagation();check(this)'></i>")
        } else if (val[0] == 'red') {
          $('#icon' + val[1]).empty();
          $('#icon' + val[1]).append("<i id='black-" + val[1] + "' class='fa fa-heart icondisplay' aria-hidden='true' style='z-index: 10;' onclick='event.stopPropagation();check(this)'></i>")
        }
      })
    }
  </script>
<%}%>
</body>

<%-include("partials/footer")-%>
