<%- include("partials/header")-%>

<%# <br>
<br>
<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Node Authentication</h1>
    <p>Login or Register with:</p>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
  </div>
</div> %>

<head>
  <meta charset="utf-8">
  <title>BechDaal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bech Daal</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/homepage.css">
  
</head>

<body>
  <div class="row no-gutters">
    <div class="col-md-10" style="padding-right:0">
      <br>

      <h3 style="color: DodgerBlue; text-align:center">Browse Categories</h3>

      <div class="flex-container">
        <%categries.forEach(category=>{%>
        <div id='<%=category._id%>' class="one">
          <img class='Img' src='<%=category.image%>'> <br>
          <%=category.name%></div>
        <%})%>
        <div class="one">5</div>
        <div class="one">6</div>
        <div class="one">7</div>
        <div class="one">8</div>
      </div>
      <hr style="height:1px;background-color:black;margin: 10px 15%;">
      <div class="flex-container">
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
          <div class="two">
              <img class="images"></img><i class="fa fa-heart icondisplay" aria-hidden="true"></i>
              <p class="para">₹ 1000</p>
              <p class="para">Title</p>
              <k>Aug 10,2020</k>
          </div>
      </div>
    </div>
    <div class="col-md-2" style="background-color:blue">
      <h2 style="text-align:center;">Ads</h2>
    </div>
  </div>

</body>

<%-include("partials/footer")-%>
