<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
          integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/myads.css">
</head>

<body>
<div class="container" style="margin-left: 17%; z-index: 5;">
    <div class="spacing">
    <table class="table-striped" >
      <thead>
        <tr>
          <th scope="col" style="text-align: right">Ads left</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Free</td>
          <td><%= user.noOfFreeAds %></td>
        </tr>
        <tr>
          <td>Paid</td>
          <td><%= user.noOfPaidAds %></td>
        </tr>
        <tr>
          <td>Featured</td>
          <td><%= user.noOfFeaturedAds %></td>
        </tr>
      </tbody>
    </table>
</div>

  <div class="row" id="main">

    <%if (ads.length==0){%>
      <div style="text-align: center;">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">You have no Ads!</h1>
            <p class="lead">Visit the PostAd page to create a new one</p>
          </div>
        </div>
      </div>
    <%} else {%>
      <div class="mainContent row">
      </div>
      <!--      <div id='<!%=ad._id%!>' onclick='editad(this)' class="col-md-4 col-sm-12 paddings">-->
      <!--        <div class="card bg-danger text-white car mx-auto">-->
      <!--          <div class="card-body">-->
      <!--            <img class="Img mx-auto" style="text-align: center;" src="/<!%= ad.cover_photo.filename %!>"-->
      <!--              alt="/<!%= ad.cover_photo.filename %!>" />-->
      <!--            <br />-->
      <!--            <label for="title" class="text">Title</label>-->
      <!--            <label for="" class="label-text"><!%=ad.title%!>-->
      <!--            </label>-->
      <!--            <br />-->
      <!--            <label for="title">Date posted</label>-->
      <!--            <label for="" class="label-text"><!%=ad.date_posted%!></label>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <!%})%!>-->
    <%}%>

  </div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" id = "previous" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a id="first"class="page-link" href="#">1</a></li>
    <li id="next" class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>
<script type="text/javascript">
  function editad(input) {
    var ad = input.id
    $.ajax({
      type: 'GET',
      url: '/sell/editad/' + ad,
      success: function () {
        window.location.href = 'http://localhost:3001/sell/editad/' + ad
      },
      error: function () {
        console.log('fail')
      }
    });
  }
  function editad1(input){
    var form = document.getElementById("form"+input.id);
    console.log("Hit")
    form.submit()
  }
  let data;
  let page =0;
  $.ajax({
    type: 'GET',
    url: '/sell/ad/ad',
    success: function (res) {
      data = [...res];
      console.log(data)
      let s = data.slice(0,2);
      for(let i=0;i<2;i++){
        $(".mainContent").append(

                "<div id='"+s[i]._id+"' onclick='editad1(this)' class='col-md-4 col-sm-12 paddings'>\<div class='card bg-danger text-white car mx-auto'> <div class='card-body'> <img class='Img mx-auto' style='text-align: center;' src='"+s[i].cover_photo+" %>' />\
                    <br />\
                    <label for='title' class='text'>Title</label>\
                    <label for='' class='label-text'>"+s[i].title+"\
                    </label>\
                    <br />\
                    <label for='title'>Date posted</label>\
                    <label for='' class='label-text'>"+s[i].date_posted+"</label>\
                    <form method='POST' id='form"+s[i]._id+"' action='/sell/editad/view'>\
                    <input type='hidden' name='adid' value='"+s[i]._id+"'>\
                    </form>\
                  </div>\
                </div>\
              </div>\
              ")
      }
    },
    error: function (err) {
      console.log(err);
    }
  })
  const main = document.querySelector("#main")
  const first = document.querySelector("#first");
  const previous = document.querySelector("#previous");
  const next = document.querySelector("#next");


  next.addEventListener('click', () => {
    first.textContent = ""
    page +=1;
    if((data.length/2) + 1 >=(page + 1)){
      var ctr = page + 1;
      first.textContent = ctr
      let s = data.slice(2*page,2*page+2)
      $(".mainContent").empty();
      for (let i = 0; i < 2; i++) {
        $(".mainContent").append(
                "<div id='"+s[i]._id+"' onclick='editad1(this)' class='col-md-4 col-sm-12 paddings'>\<div class='card bg-danger text-white car mx-auto'> <div class='card-body'> <img class='Img mx-auto' style='text-align: center;' src='"+s[i].cover_photo+" %>' />\
                    <br />\
                    <label for='title' class='text'>Title</label>\
                    <label for='' class='label-text'>"+s[i].title+"\
                    </label>\
                    <br />\
                    <label for='title'>Date posted</label>\
                    <label for='' class='label-text'>"+s[i].date_posted+"</label>\
                    <form method='POST' id='form"+s[i]._id+"' action='/sell/editad/view'>\
                    <input type='hidden' name='adid' value='"+s[i]._id+"'>\
                    </form>\
                  </div>\
                </div>\
              </div>\
              ")
      }
    }else{
      page -=1;
      first.textContent = "Last"
    }
  })
  previous.addEventListener('click', () => {
    first.textContent = ""
    page -=1;
    if((data.length/2) + 1 >=(page + 1)){
      var ctr = page + 1;
      first.textContent = ctr
      let s = data.slice(2*page,2*page+2)
      $(".mainContent").empty();
      for (let i = 0; i < 2; i++) {
        $(".mainContent").append(
                "<div id='"+s[i]._id+"' onclick='editad1(this)' class='col-md-4 col-sm-12 paddings'>\<div class='card bg-danger text-white car mx-auto'> <div class='card-body'> <img class='Img mx-auto' style='text-align: center;' src='"+s[i].cover_photo+" %>' />\
                    <br />\
                    <label for='title' class='text'>Title</label>\
                    <label for='' class='label-text'>"+s[i].title+"\
                    </label>\
                    <br />\
                    <label for='title'>Date posted</label>\
                    <label for='' class='label-text'>"+s[i].date_posted+"</label>\
                    <form method='POST' id='form"+s[i]._id+"' action='/sell/editad/view'>\
                    <input type='hidden' name='adid' value='"+s[i]._id+"'>\
                    </form>\
                  </div>\
                </div>\
              </div>\
              ")
      }
    }else{
      page+=1;
      first.textContent = "First"
    }
  })

</script>
</body>

<%-include('partials/footer')-%>
