<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>
<head>
  <meta charset="utf-8">
  <title>My Ads</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/bechdaal_bucket/assets/css/myAds.css">
</head>

<style>
  .something1 {
    margin-left: 17%;
  }
  @media (max-width: 640px) {
    .something1 {
      margin-left: 2%;
    }
  }

</style>
<body>
<div style="z-index: 5;">

  <!--  <div class="spacing">-->
  <!--    <table class="table-striped" >-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th scope="col" style="text-align: right">Ads left</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr>-->
  <!--        <td>Free</td>-->
  <!--        <td><%= user.noOfFreeAds %></td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td>Paid</td>-->
  <!--        <td><%= user.noOfPaidAds %></td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td>Featured</td>-->
  <!--        <td><%= user.noOfFeaturedAds %></td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->

  <div class="row no-gutters" id="main">
    <%if (ads.length===0){%>
      <div style="text-align: center;">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">You have no Ads!</h1>
            <p class="lead">Visit the PostAd page to create a new one</p>
          </div>
        </div>
      </div>
    <%} else {%>
      <div class="mainContent row no-gutters something1 something2">

      </div>
    <%}%>

  </div>
  <ul class="pagination" style="float:right;margin-bottom:10px;">
    <li class="page-item">
      <a class="page-link" href="#" id = "previous" aria-label="Previous">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <li class="page-item"><a id="first" class="page-link" href="#">1</a></li>
    <li id="next" class="page-item">
      <a class="page-link" href="#" id = "Next" >
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
  <br>
  <br>
</div>
<script src="https://storage.googleapis.com/bechdaal_bucket/assets/js/myAds.js"></script>
</body>

<%-include('partials/footer')-%>
