<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>

<head>
  <meta charset="UTF-8">
  <title>MyProfile</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/myoffer.css">
</head>

<body>
  <div class="container" style="padding-left: 5%">
    <%if (offers.length==0){%>
    <div style="height: 300px">
      <h2>No offers Found</h2>
    </div>
    <%} else {%>
      <%offers.forEach(offer=>{%>
        <hr>
        <label>Ad Name:<input class="inputstyle" value='<%=offer.ad%>'></input></label><br>
        <label>Buyer Name:<input class="inputstyle" value='<%=offer.buyer%>'></input></label><br>
        <label>Price Quoted:<input class="inputstyle" value='<%=offer.offer_price%>'></input></label>
        <hr>
      <%})%>
    <%}%>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%-include('partials/footer')%>
