<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myprofile.css">
</head>

<body>
    <div class="container">
        <form class="userDetails" action="/myprofile/edit">
            <div class="userIcon" style="margin-left:40%; margin-top: 10%;">
                <i style="font-size:95px;font-weight: bold;" class="fa fa-user-circle-o" aria-hidden="true"></i>
                <br>
                <p style="color:#994d00; font-size: 30px"><%= user.local.username %></p>
            </div>
            <br>
            <br>
            <p class="email">
                <span style="color:#994d00;font-weight: bold;font-size: 20px;"> Email-id:</span>
                <span><%= user.local.email %></span>
            </p>
            <p class="contact">
                <span style="color:#994d00; font-size: 20px;font-weight: bold; "> Contact No:</span>
                <%if(user.ContactNumber){%>
                <span style="margin-left: 2%;font-size: 20px;"><%= user.ContactNumber %></span>
                <%}else {%>
                <span style="font-size: 20px;">Please Enter Your Contact Number</span>
                <%}%>
            </p>

<!--            <p class="address">-->
<!--                <span style="color:#994d00; font-size: 20px;font-weight: bold; "> Address:</span>-->
<!--                <span style="margin-left: 2%;font-size: 20px;"><#%= user.Address.line1 %></span>-->
<!--                <br>-->
<!--                <span style="margin-left: 2%;font-size: 20px;"><#%= user.Address.line2 %></span>-->
<!--                <br>-->
<!--                <span style="margin-left: 2%;font-size: 20px;"><#%= user.Address.line3 %></span>-->
<!--                <br>-->
<!--                <span style="margin-left: 2%;font-size: 20px;"><#%= user.Address.line4 %></span>-->
<!--                <br>-->
<!--            </p>-->
<!--            <br>-->
<!--            <span> <button type="submit" class="verify_btn">Edit</button> </span>-->
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/profile.js" charset="utf-8"></script>

<%-include('partials/footer')%>
