<%-include('partials/miniheader')-%>
<%-include("partials/sidebar")-%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myprofile.css">
</head>

<body>
    <div class="container">
        <form class="userDetails" action="/myprofile/edit">
            <div class="userIcon" style="margin-left:45%; margin-top: 10%;">
                <i style="font-size:95px;font-weight: bold; " class="fa fa-user-circle-o" aria-hidden="true"></i>
                <br>
                <p style="color:#994d00; font-size: 2rem;"> <%= user.local.username %></p>
                <!-- <input type="text" style=" border: none;
            border-bottom: 1px solid gray;margin-left:-15%;
            width: 250px;padding:3px;font-size: 1.1rem; text-align: center;"> -->
            </div>
            <br>
            <br>
            <p class="email">
                <span style="color:#994d00;"> Email-id:</span>
                <span><%= user.local.email %></span>
                <!-- <span> <button class="verify_btn">Verify</button> </span> -->
            </p>
            <p class="contact">
                <span style="color:#994d00; font-size: 1.5rem; "> Contact No:</span>
                <span style="margin-left: 2%;font-size: 1.5rem;"><%= user.local.contact %></span>
            </p>
            <% for (var i = 0; i < user.local.address.length; i++) {%>
            <p class="address">
                <span style="color:#994d00; font-size: 1.5rem; "> Address <%= i+1 %>:</span>
                <span style="margin-left: 2%;font-size: 1.5rem;"><%= user.local.address[i] %></span>
            </p>
            <% } %>
            <!-- <p class="address" style="display:flex;flex-direction: row;">
                <p style="color:#994d00;font-size: 1.5rem; float: left; margin-right: 30px;"> Address:</p>
                <div style="display: flex;flex-direction: column; margin-top: 60px;">
                    <input type="text" class="address_input">
                    <input type="text" class="address_input">
                    <input type="text" class="address_input">
                    <input type="text" class="address_input">
                    <input type="text" class="address_input">
                </div>
            </p>
            <br>
            <div id = "addAdd" class="addAddress">
                <p>Add address <i class="fa fa-plus"></i></p>
            </div> -->
            <!-- when you click on Add Address text, it should toggle the form below, uska toggling daal dena, -->
            <!-- initial toggle false hi rakhna, sirf add address ka text dikhna chaiye. baaki chote cheeze dekh lena -->
            <!-- <div id = "newAdd" class="newAddress" style="display: flex;flex-direction: column;">
                <input type="text" class="address_input" placeholder="Pincode">
                <input type="text" class="address_input" placeholder="City">
                <input type="text" class="address_input" placeholder="Street/Road">
                <input type="text" class="address_input" placeholder="House/Flat No.">
                <input type="text" class="address_input" placeholder="Landmark">
                <div style="display: flex;flex-direction: row;margin-top: 5%;">
                    <p style="font-size: 25px;margin-right: 10%; margin-top: 0px;">Save as</p>
                    <input type="radio" id="saveAsAddress" value="30">
                    <label for="home" class="saveAs">Home</label><br>
                    <input type="radio" id="saveAsAddress" value="60">
                    <label for="office" class="saveAs">Office</label><br>
                    <input type="radio" id="saveAsAddress" value="100">
                    <label for="other" class="saveAs">Other</label><br><br>
                </div>
            </div> -->
            <span> <button type="submit" class="verify_btn">Edit</button> </span>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/profile.js" charset="utf-8"></script>

<%-include('partials/footer')%>
